@page "/users"
@rendermode InteractiveServer

<PageTitle>Users</PageTitle>

<h1>@Heading</h1>

@if (_users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (changeButton)
    {
        <button @onclick="DisplayAllUsers">Show All</button>
        
    }
    else if (!changeButton)
    {
        <button @onclick="DisplaySomeUsers">Show Some</button>
        
    }
    <br />
    <br />
    if (!longShort)
    {
        <button @onclick="SortByNameLongList">Sort long list By Name</button>
        <button @onclick="SortByIDLongList">Sort long list By ID</button>
    }
    else if (longShort)
    {
        <button @onclick="SortByNameShortList">Sort short list By Name</button>
        <button @onclick="SortByIDShortList">Sort short list By ID</button>
    }

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>

                <th>Street</th>
                <th>City</th>
                <th>Zipcode</th>

                <th>Company Name</th>
                <th>Company Catchphrase</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _users)
            {
                <tr>
                    <td>@item.ID.ToString()</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>

                    <td>@item.Adress.Street</td>
                    <td>@item.Adress.City</td>
                    <td>@item.Adress.Zipcode</td>

                    <td>@item.Commpany.CompanyName</td>
                    <td>@item.Commpany.CompanyCatchphrase</td>
                </tr>
            }
        </tbody>
    </table>
}


